<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.service.dao.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.im.service.dao.entity.Message">
        <id column="id" property="id"/>
        <result column="message_id" property="messageId"/>
        <result column="session_type" property="sessionType"/>
        <result column="session_id" property="sessionId"/>
        <result column="type" property="type"/>
        <result column="direct" property="direct"/>
        <result column="status" property="status"/>
        <result column="time" property="time"/>
        <result column="attachment" property="attachment"/>
        <result column="extra" property="extra"/>
        <result column="nick_name" property="nickName"/>
        <result column="account" property="account"/>
        <result column="avatar" property="avatar"/>
    </resultMap>
    <select id="queryList" resultType="com.im.service.dao.entity.Message">
        SELECT * FROM message
    </select>
</mapper>
